
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_VCShared.cshtml";
}


<div class="wrapper fade-in">
    <div id="main">

        <section>
            <nav class="navbar navbar-expand-xl navbar-expand-lg navbar-expand-md navbar-expand-sm">
                <h3 class="ml-auto">PROVEEDORES</h3>
            </nav>
            <!-- SPACER DASHED-->
            <hr class="dashed" />

        </section>
        <div class="col-12">
            @*<form method="post" action="" id="form1">*@
            <div class="row">
                <!-- Card Body -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="display compact nowrap roundcornersgv nowrap" id="tableEmpresasList" style="width:100%; font-size:12px;">
                            <thead>
                                <tr>
                                    <td></td>
                                    <th>RAZON SOCIAL</th>
                                    <th>NOMBRE COMERCIAL</th>
                                    <th>RFC</th>
                                    <th>REGIMEN FISCAL</th>
                                    <th>TELEFONO</th>
                                    <th>REPRESENTANTE</th>
                                    <th>CORREO</th>
                                    <th>LOGO</th>
                                    @*<td class="font-weight-bold">LOGO</td>*@
                                    <td style="text-align:center;">Acciones</td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            @*</form>*@
        </div>
    </div>
</div>

